/* Styles for the Advanced Markup assignment. */

nav ul li {
  display: inline;
  border-style: solid;
  background-color: lightblue;
  }
nav ul li:hover {
  background-color: yellow;
}
a.active {
  font-weight: bold;
  color: green;
}
#sidebar {
  width: 250px;
  float: right;
  background: pink;
  margin: 20px;
  padding: 10px;
}
p.bio-photo {
  width: 250px;
  float: left;
  background: pink;
  margin: 20px;
  padding: 10px;
}
#content {
  background: orange;
}
#header {
  background: blue;
}
#footer {
  background: lightsalmon;
}
#poem {
  margin:10px 5px 15px 20px;
  font: italic bold 12px/30px Georgia, serif;
}
#poem::first-letter {
  font-size: 200%;
  color: #8A2BE2;
} 

